video::cue(.ange) {
    color: #ffffff;
    background-color: #c83c35;
}
video::cue(.lize) {
    color: #ffffff;
    background-color: #42ffff;
}
video::cue(.toko) {
    color: #ffffff;
    background-color: #92f3a4;
}
